In [9]:
import requests
from bs4 import BeautifulSoup
from selenium.webdriver.common.by import By
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time

import numpy as np
import pandas as pd

In [10]:
# 시도별 판매단가 url 가져오기
url = 'https://www.atfis.or.kr/fip/front/M000000287/stats/pos.do'

# 크롬 드라이버 실행하기
driver = webdriver.Chrome()

# 시도별 판매단가 url로 이동하기
driver.get(url)

In [11]:
# 대분류 드롭다운 메뉴 버튼 찾기
menu_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[1]/dd/ul/li[1]/select')

# 메뉴 버튼 클릭하기
menu_dropdown.click()

# 대분류 메뉴 설정하기
menu_range = len(menu_dropdown.text.split('\n'))

for b in range(1, menu_range+1):
    menu_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[1]/dd/ul/li[1]/select/option[{b}]').click()

In [28]:
# 소분류 드롭다운 메뉴 버튼 찾기
somenu_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[1]/dd/ul/li[2]/select')

# 메뉴 버튼 클릭하기
somenu_dropdown.click()

# 소분류 메뉴 설정하기
somenu_range = len(somenu_dropdown.text.split('\n'))

for s in range(1, somenu_range+1):
    somenu_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[1]/dd/ul/li[2]/select/option[{s}]').click()

In [29]:
# 대분류 조회기간 버튼 찾아서 클릭하기
date_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[2]/dd/ul/li[1]/select')
date_dropdown.click()

# 대분류 조회기간 설정하기
year_range = len(date_dropdown.text.split('\n'))

for y in range(1,year_range+1):
    date_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[2]/dd/ul/li[1]/select/option[{y}]').click()
    time.sleep(0.5)

In [30]:
# 소분류 조회기간 버튼 찾아서 클릭하기
so_date_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[2]/dd/ul/li[2]/select')
so_date_dropdown.click()

# 소분류 조회기간 설정하기
month_range = len(so_date_dropdown.text.split('\n'))

for m in range(1,month_range+1):
    so_date_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[2]/dd/ul/li[2]/select/option[{m}]').click()
    time.sleep(0.5)

In [12]:
# 웹 스크립트 받아오기
html = driver.page_source

# 웹스크립트에서 원하는 콘텐츠 추출하기 - parsing
soup = BeautifulSoup(html, 'html.parser')

In [27]:
back_date_path = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > h5 > span.date')
back_name_path = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > h5 > span.tit')
back_info = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > ul > li')

In [28]:
back_date_path[0].text

'2022년 03월'

In [29]:
back_name_path[0].text

'아메리카노'

In [21]:
date_list = []
menu_name_list = []
local_list = []
price_list = []
updown_list = []

for back in range(len(back_info)):
    local = back_info[back].select('.area')[0].text
    local_list.append(local)
    
    price = back_info[back].select('.won')[0].text
    price_list.append(price)
    
    updown = back_info[back].select('.pay')[0].text
    updown_list.append(updown)

back_date = back_date_path[0].text
date_list.append(back_date)

menu_name = menu_name_list[0].text
menu_name_list.append(menu_name)

IndexError: list index out of range

In [33]:
# 데이터를 가져와 지역, 가격, 증감률로 나누어 리스트마다 분류하기
local_list = []
price_list = []
updown_list = []

for back in range(len(back_info)):
    local = back_info[back].select('.area')[0].text
    local_list.append(local)
    
    price = back_info[back].select('.won')[0].text
    price_list.append(price)
    
    updown = back_info[back].select('.pay')[0].text
    updown_list.append(updown)

In [67]:
# 5중 for문 돌리기

# 시도별 판매단가 url 가져오기
url = 'https://www.atfis.or.kr/fip/front/M000000287/stats/pos.do'

# 크롬 드라이버 실행하기
driver = webdriver.Chrome()

# 시도별 판매단가 url로 이동하기
driver.get(url)

local_list = []
price_list = []
updown_list = []
menu_name_list = []
date_list = []

# 대분류 드롭다운 메뉴 버튼 찾기
menu_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[1]/dd/ul/li[1]/select')

# 메뉴 버튼 클릭하기
    
# 대분류 메뉴 설정하기
menu_range = len(menu_dropdown.text.split('\n'))

for b in range(1, menu_range+1):
    menu_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[1]/dd/ul/li[1]/select/option[{b}]').click()
    time.sleep(0.5)
    
    
    # 소분류 드롭다운 메뉴 버튼 찾기
    somenu_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[1]/dd/ul/li[2]/select')

    # 메뉴 버튼 클릭하기
    
    # 소분류 메뉴 설정하기
    somenu_range = len(somenu_dropdown.text.split('\n'))

    for s in range(1, somenu_range+1):
        somenu_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[1]/dd/ul/li[2]/select/option[{s}]').click()
        time.sleep(0.5)

        
        # 대분류 조회기간 버튼 찾아서 클릭하기
        date_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[2]/dd/ul/li[1]/select')
        
        # 대분류 조회기간 설정하기
        year_range = len(date_dropdown.text.split('\n'))

        for y in range(1,year_range+1):
            date_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[2]/dd/ul/li[1]/select/option[{y}]').click()
            time.sleep(0.5)

            
            # 월 단위 조회기간 설정

            # 소분류 조회기간 버튼 찾아서 클릭하기
            so_date_dropdown = driver.find_element(By.XPATH, '//*[@id="payform"]/div/dl[2]/dd/ul/li[2]/select')
            
            # 소분류 조회기간 설정하기
            month_range = len(so_date_dropdown.text.split('\n'))

            for m in range(1,month_range+1):
                so_date_dropdown.find_element(By.XPATH, f'//*[@id="payform"]/div/dl[2]/dd/ul/li[2]/select/option[{m}]').click()
                time.sleep(0.5)

                # 웹 스크립트 받아오기
                html = driver.page_source

                # 웹스크립트에서 원하는 콘텐츠 추출하기 - parsing
                soup = BeautifulSoup(html, 'html.parser')

                # 메뉴별, 조회기간 설정 후 지역, 가격, 변동률 가져오기
                back_date = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > h5 > span.date')
                back_name = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > h5 > span.tit')
                back_info = soup.select('#contentGroup > div > div > div:nth-child(5) > div > div.payList > ul > li')
                back_menu = soup.select('#menuSelect1>option')
                
                for back in range(len(back_info)):

                    local = back_info[back].select('.area')[0].text
                    local_list.append(local)
                    
                    price = back_info[back].select('.won')[0].text
                    price_list.append(price)
                    
                    updown = back_info[back].select('.pay')[0].text
                    updown_list.append(updown)
                    
                    menu_name = back_name[0].text
                    menu_name_list.append(menu_name)
                    
                    date = back_date[0].text
                    date_list.append(date)

In [68]:
len(local_list)

33137

In [69]:
len(price_list)

33137

In [70]:
len(updown_list)

33137

In [71]:
len(menu_name_list)

33137

In [72]:
len(date_list)

33137

In [73]:
local_food_price_df = pd.DataFrame(local_list)
local_food_price_df['메뉴'] = menu_name_list
local_food_price_df['가격'] = price_list
local_food_price_df['증감율'] = updown_list
local_food_price_df['기간'] = date_list
local_food_price_df

             0    메뉴       가격     증감율         기간
0          강원도    백반  11,311원     동일-  2019년 01월
1          경기도    백반  12,078원     동일-  2019년 01월
2         경상남도    백반  11,000원     동일-  2019년 01월
3         경상북도    백반  10,050원     동일-  2019년 01월
4        광주광역시    백반  12,882원     동일-  2019년 01월
...        ...   ...      ...     ...        ...
33132     전라남도  카페라떼   4,283원  하락0.4%  2022년 03월
33133     전라북도  카페라떼   4,174원    하락0%  2022년 03월
33134  제주특별자치도  카페라떼   5,169원  하락0.4%  2022년 03월
33135     충청남도  카페라떼   4,319원    상승0%  2022년 03월
33136     충청북도  카페라떼   4,184원  상승1.1%  2022년 03월

[33137 rows x 5 columns]

In [74]:
local_food_price_df.columns = ['지역','메뉴','가격','변화율', '기간' ]

In [75]:
local_food_price_df

            지역    메뉴       가격     변화율         기간
0          강원도    백반  11,311원     동일-  2019년 01월
1          경기도    백반  12,078원     동일-  2019년 01월
2         경상남도    백반  11,000원     동일-  2019년 01월
3         경상북도    백반  10,050원     동일-  2019년 01월
4        광주광역시    백반  12,882원     동일-  2019년 01월
...        ...   ...      ...     ...        ...
33132     전라남도  카페라떼   4,283원  하락0.4%  2022년 03월
33133     전라북도  카페라떼   4,174원    하락0%  2022년 03월
33134  제주특별자치도  카페라떼   5,169원  하락0.4%  2022년 03월
33135     충청남도  카페라떼   4,319원    상승0%  2022년 03월
33136     충청북도  카페라떼   4,184원  상승1.1%  2022년 03월

[33137 rows x 5 columns]

In [76]:
local_food_price_df.to_csv('food_price_df.csv', encoding='utf-8-sig')